html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  overflow-x: hidden; }

html {
  overflow-x: hidden; }

.header {
  height: 100vh;
  background-image: url(../images/newheader.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1100px; }
  .header__logo {
    margin-top: 24px; }
  .header__phone {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 56px; }
  .header__action {
    position: relative;
    margin-top: 56px; }
    .header__action:after {
      content: "";
      position: absolute;
      border: 1px solid #fff;
      width: 125px;
      top: 28px;
      left: 0; }
  .header__link {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 16px;
    -webkit-transition: 0.7s;
    transition: 0.7s; }
    .header__link:hover {
      color: #9fadc2; }
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.5px;
    position: relative;
    -webkit-animation: title-animation 2s linear;
            animation: title-animation 2s linear; }
    .header__title::after {
      content: "";
      height: 2px;
      width: 35px;
      position: absolute;
      background-color: #fff;
      top: -10%;
      left: 41%; }
  .header__nav {
    margin-bottom: 20px; }

@media screen and (max-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 200px;
      margin-bottom: 50px; }
    .header__title {
      font-size: 36px;
      line-height: 36px;
      white-space: nowrap;
      display: block;
      position: relative;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 50px; }
      .header__title::after {
        content: "";
        height: 2px;
        width: 35px;
        position: absolute;
        background-color: #fff;
        top: -10%;
        right: 50%; }
    .header__phone, .header__action {
      margin: 10px;
      white-space: nowrap;
      font-size: 12px; }
    .header__action {
      font-size: 10px;
      margin-top: 20px; }
      .header__action:after {
        content: "";
        position: absolute;
        top: 20px;
        left: 0; } }

@-webkit-keyframes title-animation {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes title-animation {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.logo {
  background-image: url(../images/logo.png);
  width: 115px;
  height: 78px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

@media screen and (max-width: 500px) {
  .logo {
    width: 57px;
    height: 39px;
    margin: 10px; } }

.button {
  line-height: 14px;
  font-weight: 700;
  background: #0075ff;
  border-radius: 8px;
  border: 2px solid #0075ff;
  color: #fff;
  padding: 20px 100px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer; }
  .button:hover {
    background-color: #fff;
    color: #0075ff; }

@media screen and (max-width: 500px) {
  .button {
    width: 100%;
    padding: 20px 50px; } }

.nav {
  text-transform: uppercase;
  padding: 0 80px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    margin: 0 15px;
    line-height: 16px;
    letter-spacing: 2px;
    padding: 8px 24px;
    color: #fff;
    border-radius: 15px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px; }
  .nav__link {
    text-decoration: none;
    white-space: nowrap;
    padding: 8px 24px;
    color: #fff;
    font-size: 14px; }
    .nav__link:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 15px; }

@media screen and (max-width: 1200px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .nav__item {
    margin-bottom: 15px 0; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    padding: 50px 0;
    font-weight: 700; }
  .info__link {
    text-decoration: none;
    color: #0075ff;
    -webkit-transition: 0.7s;
    transition: 0.7s; }
    .info__link:hover {
      color: #9fadc2; }
  .info__text {
    line-height: 27px;
    padding: 50px 0;
    width: 500px; }
  .info__heading {
    font-size: 24px;
    color: #0075ff;
    font-weight: 700;
    margin-bottom: 16px; }
  .info__accent {
    margin-top: 20px; }

@media screen and (max-width: 1200px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__title {
      font-size: 36px;
      width: 100%; }
    .info__text {
      padding: 10px 0;
      width: 100%; } }

.section {
  padding: 30px 100px;
  background: #fff;
  max-width: 1000px;
  display: block;
  margin: auto; }

@media screen and (max-width: 500px) {
  .section {
    padding: 40px; } }

.heading {
  font-size: 48px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  -webkit-animation: heading-animation 2s ease-in-out;
          animation: heading-animation 2s ease-in-out; }
  .heading__crown {
    position: absolute;
    background-image: url("../images/crown.svg");
    width: 20px;
    height: 13px;
    top: 55px;
    left: 50%; }

@-webkit-keyframes heading-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes heading-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 500px) {
  .heading {
    font-size: 36px; }
    .heading__crown {
      top: 45px;
      left: 50%; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    height: 256px;
    width: calc(50% - 10px);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px;
    -webkit-transition: 0.7s;
    transition: 0.7s; }
    .photos__img:hover {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px); }
  .photos__img-large {
    width: calc(67% - 10px); }
  .photos__img-small {
    width: calc(33% - 10px); }

@media screen and (max-width: 500px) {
  .photos__img-large, .photos__img-small {
    width: calc(50% - 10px); } }

.gallery__caption {
  line-height: 27px;
  color: #0075ff;
  font-weight: 700;
  margin: 24px 0; }

.gallery__link {
  text-decoration: none;
  color: #3e3e3e;
  -webkit-transition: 0.7s;
  transition: 0.7s; }
  .gallery__link:hover {
    color: #9fadc2; }

.gallery__button {
  padding: 14px 57px;
  cursor: pointer;
  display: block;
  margin: auto;
  border: 2px solid #0075ff;
  border-radius: 8px;
  color: #0075ff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font-weight: 700; }
  .gallery__button:hover {
    background-color: #0075ff;
    color: #fff; }

@media screen and (max-width: 500px) {
  .gallery__button {
    width: 100%; } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__heading {
    width: 260px;
    height: 60px;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 25px; }
  .consultation__text {
    width: 412px;
    line-height: 27px;
    padding: 0 20px; }

@media screen and (max-width: 700px) {
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__heading {
      margin-bottom: 25px; }
    .consultation__text {
      margin-bottom: 25px;
      width: 100%; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 413px; }
  .form__input, .form__button {
    display: block;
    width: 100%;
    margin-bottom: 16px; }

@media screen and (max-width: 500px) {
  .form {
    width: 100%; } }

.input {
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 14px;
  padding: 17px;
  outline: none; }
  .input:focus {
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

.testimonials {
  display: grid;
  grid-gap: 120px;
  grid-template-columns: repeat(3, 220px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 1200px) {
  .testimonials {
    grid-template-columns: repeat(1, 220px);
    grid-gap: 75px; } }

.person__photo {
  display: block;
  margin: auto;
  padding-bottom: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s; }
  .person__photo:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.person__name {
  color: #0075ff;
  text-align: center;
  font-size: 24px;
  line-height: 30px; }

.person__position {
  color: #9fadc2;
  text-align: center;
  font-size: 14px;
  line-height: 14px; }

.person__text {
  text-align: center;
  line-height: 27px;
  width: 240px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__tools {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2; }

@media screen and (max-width: 1200px) {
  .contact__info {
    height: 140px;
    padding-right: 35px; }
  .contact__tools {
    line-height: 14px;
    margin-bottom: 8px; }
  .contact__address {
    padding-right: 35px; }
  .contact__text {
    margin-bottom: 20px; } }

@media screen and (max-width: 700px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.footer {
  background-image: url(../images/newfooter.png);
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0; }
  .footer__logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
